footer {
  text-align: center;
  margin-bottom: 70px;
}
footer > a {
  color: #fff;
  font-size: 16px;
}
.footer-div {
  display: flex;
  gap: 20px;
  color: #fff;
  padding: 10px 10px;
  justify-content: center;
}

.footer-div a {
  color: #fff;
  font-size: 16px;
}
