.service-page {
  padding: 3px 10%;
}

.service-page-section {
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
  gap: 25px;
  padding: 7px 3px;

  max-width: 1028px;
  justify-self: center;
}
.service-page-image {
  width: 100%;
  align-items: center;
  height: 100%;

  display: flex;
  justify-content: center;
}
.service-page-image img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  max-height: 70%;
  object-fit: cover;
}
.service-page-data {
  padding: 20px;
  text-transform: capitalize;
}
.grid-cell {
  border: 2px solid black;

  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  cursor: pointer;
  text-align: center;
}
.c-d {
  display: flex;
  justify-content: space-between;
  padding: 1px 10px;
  align-items: center;
}
.g {
  width: 250px;
  display: grid;
  grid-template: repeat(8, auto) / repeat(5, auto);
  gap: 8px;
  justify-self: center;
  align-self: center;
}

.c-d span {
  text-decoration: line-through;
  color: gray;
}
.booked {
  background-color: #fada5e;
  color: black; /* Set the background color to red for booked seats */
}
.book-btn {
  width: 100%;
  padding: 0px 10px;
  margin-top: 10px;
  text-align: center;
}
.book-btn button {
  min-width: 140px;
  margin: 1px 12px;
}

.seats-holder {
  width: 100%;
  justify-content: center;
  display: flex;
}

.car-service-data,
.booking_info {
  border: 1px solid #b3b3b3;
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 20px;
}
.booking_info {
  margin-top: 25px;
}
@media only screen and (max-width: 1000px) {
  .service-page {
    padding: 2px 5px;
  }
  .service-page-section {
    grid-template: auto auto / repeat(1, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  .service-page {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .c-d {
    padding: 1px;
    font-size: 15px;
    gap: 20px;
  }
  .book-btn button {
    margin: 3px 2px;
  }
}
