.nav-container {
  transition: 0.8s;
  position: fixed;
  padding: 10px 3px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(10px);
}

.nav>.active {
  display: none;
  /* color: #fff;
  background-color: #222;
  border-radius: 20px;
  padding: 10px; */
}
.nav-active >.not-active {
  display: none;
  /* color: #fff;
  border-radius: 20px;
  padding: 10px;
  background-color: green; */
}
