.chart {
  width: 100%;
  max-width: 500px;
  margin: auto;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
