.account > svg {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.account svg:hover {
  fill: black;
}
.accountsection {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: ghostwhite;
  padding: 10px;
  right: 5px;
  height: 20%;
  top: 1px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.3);
  overflow-y: auto;
  transition: 2s;
  width: 220px;
}
.cancel {
  width: 15px;
}
.delete-user {
  font-size: 7px;
  align-self: center;
  display: inline;
  padding: 6px 10px;
  color: red;
  width: 80px;
  border: 2px solid red;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  align-self: center;
  margin: 10px auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.account_details {
  display: flex;
  flex-direction: row;
  border-radius: 17px;
  gap: 20px;
  margin: 10px 1px;
  padding: 5px 20px;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #1f1f1f;
}

.delete-user:hover,
.delete-user:focus,
.delete-user:active {
  background-color: red;
  color: #fff;

  border: 2px solid red;
}
.login-btnn {
  max-width: 745x;
  align-self: center;
}

.div_header {
  width: 100%;
  display: flex;
  justify-content: end;
  text-decoration: underline;
}
.update_image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.div_header p {
  font-size: 12px;
  cursor: pointer;
}
.div_header p:hover {
  font-weight: 800;
}

.success {
  color: black;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  background-color: green;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.warning_button {
  background-color: red;
}
.warning_button:hover {
  background-color: #ff0000;
}
.warning_button:focus {
  background-color: #ff0000;
}
.red_hover:hover {
  background-color: red;
}
@media screen and (min-width: 1050px) {
}
