.addingcarpage {
  margin-top: 60px;
}
.carimage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 7px 0px;
}
.carimage img {
  max-height: 350px;
  object-fit: cover;
}
textarea {
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  font-size: 17px;
}

.adding-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.text_area {
  min-height: 100px;
  min-width: 100%;
  max-width: 200px;
  margin: 10px 1px;
  border-radius: 4px;
  outline: none;
  padding: 9px 10px;
  background-color: #1f1f1f;
  border: none;
  color: #b3b3b3;
  max-height: 200px;
}

.car-service-data,
.hire_info,
.booking_info,
.ticket_info,
.section_div,
.account_info {
  border: 1px solid #b3b3b3;
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 20px;
}
.booking_info,
.hire_info,
.ticket_info {
  margin-top: 25px;
}
.account_info,
.section_div {
  margin-bottom: 20px;
}

select {
  background-color: #1f1f1f;
  padding: 5px 5px;
  flex-grow: 1;
  outline: none;
  border: none;
  color: #b3b3b3;
  text-align: center;
  fill: #b3b3b3;
  font-size: 14px;
}
select:focus {
  cursor: pointer;
  outline: none;
}

.form-split {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.form-split > div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}
.form-split select {
  padding: 10px 2px;
}
@media screen and (max-width: 800px) {
  .addingcarpage {
    margin-top: 4px;
  }

  .carimage img {
    width: 100%;
  }
  .form-split {
    flex-direction: column;
  }
  .page-input {
    width: 100%;
  }
}
