.car-card {
  cursor: pointer;
  transition: 0.6s;
  color: #b3b3b3;
  box-shadow: inset 0px -1px 1px #808080, inset 1px 0px 1px #808080,
    inset -1px 0px 1px #808080;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  /* padding: 10px; */
  background: linear-gradient(#3a3a3a, #1a1a1a);
  border-radius: 10px;
}
.car-card:hover {
  animation: pulse 1s infinite;
  box-shadow: 0px 0px 2px 2px #b3b3b3;
}
.car-image {
  height: 150px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.car-image img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-action {
  position: absolute;
  background-color: #21262d;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ddd;
}
.options {
  padding: 4px 5px;
  background-color: #21262d;
  position: absolute;
  left: 30px;
  top: 43px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #21262d transparent;
  }
}
.action {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: #b3b3b3;
  cursor: pointer;
  flex-direction: row;
  padding: 4px 10px;
  transition: 0.5s ease-in-out;
  margin: 4px 0;
  border-radius: 12px;
}
.action:hover {
  background-color: #ddd;
  color: #21262d;
}
.action svg:hover {
  fill: #21262d;
}
.options:hover {
  border: 2px solid #ddd;
  &:after {
    border: 2px solid #ddd;
    background-color: red;
  }
}

.action svg {
  fill: #b3b3b3;
}

@media screen and (max-width: 768px) {
  .car-card {
    height: 340px;
  }
  .car-image {
    height: 200px;
  }
  .car-image img {
    height: 200px;
    object-fit: cover;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
