:root,
main {
  margin: 0;
  padding: 0;
  background-color: #242424;
  color: #b3b3b3;
}
.header-mobile {
  /* background-color: #121212; */
  /* background-color: #3a3a3a; */
  /* background-color: #242424; */
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  fill: #b3b3b3;
}
.user_prof {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user_prof img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user_prof_data {
  display: flex;
  flex-direction: column;
  gap: 10;
}
.user_prof_data h3 {
  color: #fada5e;
  font-size: 18px;
  margin: 0;
}
.user_prof_data p {
  color: #b3b3b3;
  font-size: 17px;
  margin: 0;
}
.user_data_div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rounded_button {
  border-radius: 25px;
  /* padding: 10px 20px; */
  background-color: #121212;
  color: #b3b3b3;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid grey;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  outline: none;
}
.rounded_button:hover {
  background-color: #fada5e;
  color: #242424;
  border: 1px solid #fada5e;
}
.rounded_button img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search_div {
  margin-top: 25px;
  background-color: #1f1f1f;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 25px;
  justify-content: space-between;
  fill: #b3b3b3;
  padding: 7px 10px;
  gap: 10px;
  margin: 0px auto;
  max-width: 1000px;
}
.state_message_div {
  display: flex;
  gap: 20px;
  fill: #b3b3b3;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
.search_input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search_div input {
  background-color: #1f1f1f;
  padding: 10px 5px;
  flex-grow: 1;
  outline: none;
  border: none;
  color: #b3b3b3;
  fill: #b3b3b3;
  font-size: 16px;
  border-right: 1px solid #b3b3b3;
  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
}
.app_nav_short {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 25px;
  width: 100%;
  justify-content: center;
}
.navgate-short {
  display: flex;
  flex-direction: column;
  gap: 20;
  height: 130px;
  width: 130px;
  border-radius: 10px;
  /* border: 2px solid #b3b3b3; */
  /* border-image: linear-gradient(to bottom, #b3b3b3, transparent) 1; */
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 20px;
  background-color: #3a3a3a;
  box-shadow: inset 0px 1px 1px #b3b3b3, inset 1px 0px 1px #b3b3b3,
    inset -1px 0px 1px #b3b3b3;
}
.navgate-short p {
  margin: 0;
}

.search_input {
  display: flex;
  align-items: center;
  fill: #b3b3b3;
}
.serch_by_brand {
  margin-top: 25px;
  border: 1px solid #b3b3b3;
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 20px;
  max-width: 1600px;
  margin: 25px auto;
}
.brand_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.brand_header p {
  color: #b3b3b3;
  font-size: 20px;
  font-weight: 700;
}
.button {
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  color: aliceblue;
}
.companies-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 15px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #fada5e #242424;
}
.company-div {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 80px;
  width: 80px;
  padding: 10px;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.company-div img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}
.car-mobile-div {
  margin: 25px auto;
  max-width: 1600px;
  border: 1px solid #b3b3b3;
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 20px;
}
.phone-car-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 25px;
}

.phone-car-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 25px;
}
.tab-car-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 25px;
}
.car-card {
  cursor: pointer;
  transition: 0.6s;
  color: #b3b3b3;
  box-shadow: inset 0px -1px 1px #808080, inset 1px 0px 1px #808080,
    inset -1px 0px 1px #808080;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: linear-gradient(#3a3a3a, #1a1a1a);
  border-radius: 10px;
  /* border: 1px solid #b3b3b3; */
}



.car-card:hover {
  animation: pulse 1s infinite;
  box-shadow: 0px 0px 2px 2px #b3b3b3;
}
.car-card-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
.car-card-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.car-card-desc {
  margin: 0;
  font-size: 10px;
}
.car-card-price,
.car-card-name {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}
.rounded_button img{
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .tab-car-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
